<table class="annualTotalsTable tc">
  <tr>
    <th colspan="2"><h2>Harvest Totals for 2021</h2></th>
  </tr>
  <tr>
    <th>Strain</th>
    <th>Amount (in grams)</th>
  </tr>
  <tr>
    <td>Sour Diesel</td>
    <td><?php echo $annualTotals['Sour Diesel'] . "g || " . round(($annualTotals['Sour Diesel'] / 28), 2) . "oz" ?></td>
  </tr>
  <tr>
    <td>MK Ultra</td>
    <td><?php echo $annualTotals['MK Ultra'] . "g || " . round(($annualTotals['MK Ultra'] / 28), 2) . "oz" ?></td>
  </tr>
  <tr>
    <td>Gorilla Glue</td>
    <td><?php echo $annualTotals['Gorilla Glue'] . "g || " . round(($annualTotals['Gorilla Glue'] / 28), 2) . "oz" ?></td>
  </tr>
  <tr>
    <td>Strawberry Kush CBD</td>
    <td><?php echo $annualTotals['Strawberry Kush CBD'] . "g || " . round(($annualTotals['Strawberry Kush CBD'] / 28), 2) . "oz" ?></td>
  </tr>
  <tr>
    <td>Grow Totals</td>
    <td><?php echo $annualHarvestTotal . "g || " . round(($annualHarvestTotal / 28), 2) . "oz" ?></td>
  </tr>
</table>
