<li class="nav-item">
  <a class="nav-link" href="http://ectorgrow.com">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrow.com/myplants.php">My Plants</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrow.com/addPlant.php">Add Plant</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrow.com/nutrients.php">Nutrients</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrow.com/harvested.php">Harvested</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrow.com/profile.php">My Profile</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrow.com/beta-faq.php">BETA FAQ</a>
</li>
<li class="nav-item">
  <a class='nav-link' href='http://ectorgrow.com/scripts/logout.php'>Log-Out</a>
</li>
