<li class="nav-item">
  <a class="nav-link" href="http://ectorgrowv1.afwebdev.com/">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrowv1.afwebdev.com/myplants.php">My Plants</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrowv1.afwebdev.com/addPlant.php">Add Plant</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrowv1.afwebdev.com/nutrients.php">Nutrients</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrowv1.afwebdev.com/harvested.php">Harvested</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrowv1.afwebdev.com/profile.php">My Profile</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="http://ectorgrowv1.afwebdev.com/beta-faq.php">BETA FAQ</a>
</li>
<li class="nav-item">
  <a class='nav-link' href='http://ectorgrowv1.afwebdev.com/scripts/logout.php'>Log-Out</a>
</li>
